* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-image: url("../images/Wallpaper.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  color: white;
}

.blur {
  background-image: url("../images/Wallpaper.jpg");
}


p, label{
  font-family:Cambria;
}

label{
  font-size: 20px;
}

input{
  margin-top: 10px;
  margin-bottom: 10px;

}

.main {
  padding: 80px 100px;
  width: 100%;
  min-height: 100vh;
  align-items: center;
}

.main .index-button,
.button,
button {
  background-color: rgb(178, 146, 88);
  padding: 10px;
  border-radius: 2px;
  border-color: transparent;
  font-weight: 600;
  color: white;
  width: 100px;
}

.Book-Button{
  width: 80px;
  margin-top: 2px;
  margin-bottom: 2px;
}

h1 {
  font-size: 30px;
}

.main #index-p {
  font-size: medium;
  padding-bottom: 50px;
}

.main .index-button {
  margin-right: 10px;
  font-size: medium;
}

#admin-home {
  padding: 100px 10px;
}

.account {
  text-decoration: none;
  color: rgb(211, 189, 148);
  transition: 0.5s;
  font-size: 20px;
}

.account:hover {
  transition: 0.5s;
  color: rgb(235, 225, 208);
}

.category{
  color: white;
  font-size: 20px;
  text-decoration: dashed;
}



.formBackGround {
  background-color: rgba(142, 141, 141, 0.3);
  width: 70%;
  margin-left: 160px;
  margin-top: 50px;
  height: 450px;
  padding: 70px;
}

.left{
  float: left;
  padding-right: 400px;
  padding-left: 50px;
}

.right{
  float: right;
  padding-left: 40px;
  padding-right: 70px;
}
