* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-image: url("../images/Wallpaper.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  color: white;
}

.blur {
  background-image: url("../images/Wallpaper.jpg");
}


p, label{
  font-family:Cambria;
}

label{
  font-size: 20px;
}

input{
  margin-top: 10px;
  margin-bottom: 10px;

}

input[type="text"],
input[type="password"] ,
input[type="Email"]{
  padding: 10px; /* Optional: Add padding for better appearance */
  border: 2px solid #56502a81; /* Optional: Add a border */
  border-radius: 10px; /* Adjust the border radius to make corners rounded */
  width: 250px; /* Optional: Set a specific width */
}




#loginForm , #signUpForm {
  text-align:  center ;
  /* background-image: url("../images/frame-with-writing-standing-books1.png"); */
  background-image: url("../images/form.png");

  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 900px;
  background-position:  top 100px center;
  width: 1300px;
  height:700px;


}
#loginForm{
  padding: 172px;
  padding-left: 580px;
  margin: auto;
  /* padding-right: 470px; */
  color: black;
  font-size:12px;


}

#signUpForm{
  padding: 140px;
  padding-left: 550px;
  margin: auto;
  /* padding-right: 470px; */

  color: black;
  font-size: 0px;
}
  

.main {
  padding: 80px 100px;
  width: 100%;
  min-height: 100vh;
  align-items: center;
}

.main .index-button,
.button,
button {
  background-color: rgb(178, 146, 88);
  padding: 10px;
  border-radius: 2px;
  border-color: transparent;
  font-weight: 600;
  color: white;
  width: 100px;
}

.Book-Button{
  width: 80px;
  margin-top: 2px;
  margin-bottom: 2px;
  display: none;
}

h1 {
  font-size: 30px;
}

.main #index-p {
  font-size: medium;
  padding-bottom: 50px;
}

.main .index-button {
  margin-right: 10px;
  font-size: medium;
}

#admin-home {
  padding: 100px 10px;
}

.account {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 0.5s;
  font-size: 20px;
}

.account:hover {
  transition: 0.5s;
  color: rgb(150, 106, 49);
}
.Book-Details.afterNav.main {
  display: flex;
  width: 100%;
}
.Book-Details.afterNav.main .imgAndButton {
  flex: 0.3;
}

.Book-Details.afterNav.main .imgAndButton #edit {
  border-radius: 3rem;
  justify-content: center;
  width: 150px;
  cursor: pointer;
  margin-top: 3%;
  margin-left: 20%;
  display: block;
}
.Book-Details.afterNav.main .imgAndButton #delete {
  border-radius: 3rem;
  justify-content: center;
  width: 150px;
  cursor: pointer;
  margin-top: 3%;
  margin-left: 20%;
}


.category{
  color: white;
  font-size: 20px;
  text-decoration: dashed;
}



.formBackGround {
  background-color: rgba(142, 141, 141, 0.3);
  width: 70%;
  margin-left: 160px;
  margin-top: 50px;
  height: 450px;
  padding: 70px;
}

.left{
  float: left;
  padding-right: 400px;
  padding-left: 50px;
}

.right{
  float: right;
  padding-left: 40px;
  padding-right: 70px;
}
